%h1 Dummy

- if authenticated?
  %p Hi, <b>#{current_user.display_name}</b>.

  %h2 Your groups

  %dl
    - current_user.groups.each do |group|
      %dt= group.id
      %dd= group.name

  %div= link_to 'ログアウト', tauth.logout_path
- else
  %div= link_to 'ログイン', tauth.login_path

%div= link_to 'private', :private
